<!DOCTYPE html>
  <head>
    <title>Front-End Dev Conference</title>
    <link rel="stylesheet" type="text/css" href="css/test.css">
  </head>
  <body>
    {{> header}}

    <h1>{{username.1.fullName}}</h1>
    <p>{{username.1.bio}}</p>
    <p>
      You can find me on <a href="http://www.twitter.com/{{username.1.twitterUsername}}">Twitter</a>,
      <a href="http://www.github.com/{{1.githubUsername}}">GitHub</a> or my <a href="http://{{username.1.website}}">Website</a>.
    </p>

    {{> jumbotron}}

    {{#if username}}
    <h2>Lista de nomes</h2>
    <ul>
      {{#each username}}
        <li>Nome: {{fullName}}</li>
      {{/each}}
    </ul>
    {{/if}}

    {{> footer}}

  </body>
</html>
